recursive-include src *.py
graft tests

include LICENSE.md
include tox.ini
include .pylintrc
include .flake8
include mypy.ini
include .coveragerc

prune .github
global-exclude __pycache__ *.py[oc] *.sw[op]
